*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 2rem 1%;
}

ul{
    margin-top: 10px;
    margin-bottom: 10px;
}

ul li{
    display:inline-block;
    list-style: none;
}

a{
    text-decoration: none;
}

input,
select,
button{
    padding: 5px 10px;
}

.container{
    margin-top: 20px;
}

.edt{
    color: black;
}